streamlit
joblib                       
keras
tensorflow                                                                
scikit-learn  
matplotlib
datasets
torch
Pillow
https://github.com/openai/shap-e.git
.